@import "home";

.div1 {
  width: 50%;
  float: left;
}

.div2 {
  width: 50%;
  float: right;
}

h3 {
  color: #CEFE91;
}

.container {
  width: 100%; /* Ensure the container takes up the full width */
  overflow: hidden; /* Clear float */
}
